.docs__section {
  background-color: #ecf0f5;
  padding: 100px 0 180px 0;
}

.invitation {
  font-size: 2.2rem;
  color: #4D5C71;
  margin-bottom: 50px;
  text-align: center;
}

.three__docs {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}

.doc {
  display: flex;
  flex-direction: column;
  padding: 34px;
  background: white;
  color: black;
  transition: .3s ease;
  cursor: pointer;
}

.doc:hover {
  background: black;
  color: white;
}

.doc:hover img {
  filter: invert(100%);
}

.doc__bottom, .doc__bottom span {
  color: inherit;
}

.doc h3, .doc p {
  color: inherit;
}



.doc h3 {
  font-family: 'Unbounded';
  font-size: 2.2rem;
  font-weight: 400;
}

.doc p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 60px;
  color: rgba(77, 92, 113, 1);
  line-height: normal;
  transition: .2s;
}

.doc:hover p {
  color: white;
}

.doc__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
}

.doc__bottom img {
  width: 50px;
}

.doc__bottom span {
  font-size: 2.2rem;
  color: rgba(77, 92, 113, 1);
  transition: .2s;
}

.doc:hover .doc__bottom span {
  color: white;
}

@media (max-width: 1024px) {
  .three__docs {
    grid-template-columns: 1fr;
  }
  .docs__section {
    padding: 20px 0
  }
  .invitation {
    font-size: 1.6rem;
  }
  .doc p {
    font-size: 1.6rem;
  }
}