footer {
  background-color: #ECF0F5;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 70px 0 40px 0;
}

.footer__top--item {
  display: flex;
  flex-direction: column;
}

.footer__top--item:last-child {
  align-items: end;
}

.footer__top--item h2 {
  font-family: 'Unbounded';
  font-size: 2.2rem;
  font-weight: 400;
  color: #111111;
  margin-bottom: 30px;
}

.footer__top--item a {
  font-size: 2rem;
  color: #4D5C71;
  margin-bottom: 30px;
}

.footer__top--item:last-child a {
  font-family: 'Unbounded';
  font-weight: 600;
  font-size: 2rem;
  color: #111111;
}

.footer__bottom {
  border-top: 1px solid rgb(192, 192, 192);
  padding: 20px 0;
}

.footer__bottom--inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__bottom--inner p, .footer__bottom--inner a {
  font-size: 1.4rem;
  color: #4D5C71;
}

@media (max-width: 1024px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__top--item:nth-child(2) {
    text-align: left;
  }
  .footer__top--item:last-child {
    align-items: start;
  }

}

@media (max-width: 670px) {
  .footer__top {
    grid-template-columns: 1fr;
    padding: 40px 0;
  }
  .footer__top--item:last-child {
    grid-row: 2/3;
    margin-bottom: 14px;
  }
  .footer__bottom--inner {
    flex-direction: column;
  }
  .footer__top--item a {
    font-size: 1.6rem;
    margin-bottom: 14px;
  }
  .footer__top--item h2 {
    font-size: 1.6rem;
  }
  .footer__top--item:last-child a {
    font-size: 1.6rem;
  }
  .footer__branding .logo {
    width: 60px;
  }
  .footer__branding .naming h2 {
    font-size: 3.2rem;
  }
}