header {
    border-bottom: 1px solid #e2ddce;
}

.header__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.header__item {
    border-right: 1px solid #e2ddce;
    padding: 17px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__item:last-child {
    border-right: none;
    padding-right: 0;
    justify-content: end;
    min-width: 230px;
}

.header__item:first-child {
    padding-left: 0;
    justify-content: start;
}

.branding__wrapper {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo {
    width: 70px;
    height: auto;
}

.naming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.naming h2 {
    font-family: 'Unbounded';
    font-weight: 900;
    font-size: 3.8rem;
}

.naming p {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Tilda';
    font-weight: 700;
    color: rgb(111, 109, 102);
}

.catalog__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: black;
    font-weight: 600;
    font-family: 'Unbounded';
    font-size: 1.6rem;
    gap: 10px;
}

.dots {
    width: 35px;
}

.header__nav {
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header__nav ul li a {
    font-size: 1.6rem;
    font-family: 'Unbounded';
    font-weight: 400;
}

.header__nav ul li:hover a {
    font-weight: 500;
}

.header__tel {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Unbounded';
    display: flex;
    align-items: center;
}

.phoneicon {
    margin-right: 7px;
}

.hamburger {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Unbounded';
    padding-left: 14px;
    display: none;
}

.hamburger img {
    width: 40px;
}

.sidemenu {
    position: fixed;
    display: flex;
    width: 300px;
    height: 100svh;
    background: white;
    top: 0;
    left: 100%;
}

@media (max-width: 1680px) {
    .header__item:nth-child(2),
    .header__item:nth-child(3),
    .header__item:nth-child(4) {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .header__item {
        padding: 11px 7px;
    }
}

@media (max-width: 670px) {
    .logo {
        width: 40px;
    }
    .naming h2 {
        font-size: 1.4rem;
    }
    .header__tel {
        font-size: 1.2rem;
    }
    .header__tel img {
        display: none;
    }
    .header__item {
        padding: 11px 7px;
    }
}