.accordion {
  width: 100%;

}

.accordion-item {
	margin-bottom: 20px;
	background:white;
	overflow: hidden;
	border: 1px solid #D4DEE8;
}

.accordion-title {
  padding: 20px 40px;
  padding-right: 80px;
  cursor: pointer;
  font-family: 'Unbounded';
  font-size: 2rem;
  color: #111111;
  position: relative;
  font-size: 2rem;
	font-weight: 400 !important;
  transition: 0.2s;
}

.plus {
	position: absolute;
	right: 40px;
	top:50%;
	transform:translateY(-50%);
	width: 50px;
	height: 50px;
}

.vertline {
		display: flex;
	width:30px;
	border-top: 1px solid #4D5C71;
	top: 50%;
	position: absolute;
	right:0;
	transform: rotate(90deg);
	transition: .2s;
}

.horline {
		display: flex;
	width:30px;
	border-top: 1px solid #4D5C71;
	top: 50%;
	position: absolute;
	right:0;
}

.accordion-title.active .vertline {
		transform: rotate(0deg);
}

.accordion-title:hover {
  background: #DDE1EC;
}

/* .accordion-title::after {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 24px;
  font-weight: 100;
}

.accordion-title.active::after {
  content: '−';
} */

.accordion-content {
  max-height: 0; /* Начальная высота */
  overflow: hidden; /* Для плавности */
  padding: 0 40px; /* Отступы скрыты при закрытии */
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; /* Анимация */
	font-size: 2rem;
	font-weight:400;
}

.accordion-content.active {
  max-height: 500px; 
}

.accordion-content p {
	padding: 15px 0;
  margin: 0;
  line-height: 1.5;
  color: #4D5C71;
}


@media (max-width: 670px) {
	.accordion-title {
		padding: 10px 7px;
		font-size: 1.4rem;
		padding-right: 40px;
	}
	.accordion-content {
		padding: 0 7px;
	}
	.accordion-content p {
		font-size: 1.2rem;
	}
	.plus {
		right: 7px;
	}
}